<app-header></app-header>
<div class="dashboard-container">
    <h1 class="dashboard-title">Dashboard</h1>

    <section class="dashboard-card">
        <h2 class="dashboard-card-title">Article Overview</h2>
        <p class="dashboard-card-text">
            <a class="dashboard-link" href="https://www2.deloitte.com/us/en/insights/industry/renewable-energy/renewable-energy-industry-outlook.html">
                Renewable Energy Industry Outlook
            </a>
            The Deloitte 2024 Renewable Energy Industry Outlook highlights the critical trends shaping the clean energy landscape. It underscores the acceleration of renewable energy adoption driven by supportive policies, advancing technologies, and the imperative of energy transition to combat climate change. Key trends include innovations in battery storage and grid modernization, enabling increased renewable energy capacity and reliability. Emerging clean energy technologies like green hydrogen and carbon capture are also spotlighted, emphasizing their role in decarbonizing hard-to-abate sectors.

The report further explores the growing importance of energy equity and sustainability in renewable investments, with a focus on localizing supply chains and ensuring a just transition. With increased focus on digitalization, AI-driven analytics, and IoT integration in energy management, the industry is transforming its operational models. These advancements pave the way for improved efficiency and reduced emissions, driving global momentum towards net-zero goals.
        </p>
    </section>

    <section class="dashboard-card">
        <h2 class="dashboard-card-title">Technical Stack</h2>
        <ul class="dashboard-list">
            <li>AngularJs for Frontend</li>
            <li>Node.js for Backend</li>
            <li>MySQL for Database</li>
            <li>JWT-based Authentication</li>
            <li>Chart.js for Data Visualization</li>
        </ul>
    </section>
</div>
