<app-header></app-header>
<div class="report-container">
    <h1 class="report-title">Report</h1>

    <div class="report-card">
        <div class="chart-wrapper">
            <canvas #reportsCanvas></canvas>
        </div>

        <p class="report-text">
            According to <a class="dashboard-link" href="https://www2.deloitte.com/us/en/insights/industry/renewable-energy/renewable-energy-industry-outlook.html">
                Renewable Energy Industry Outlook
            </a>, 
            the pie chart illustrates regional contributions to renewable energy growth, showcasing how various regions, such as North America, Europe, and Asia-Pacific, lead in energy transition efforts. This data highlights regional policy effectiveness, market maturity, and investment flows, offering a global view of renewable adoption. By identifying leading regions, it informs strategies for energy infrastructure and investments.
            This distribution helps identify where resources are being allocated and where market expansion is most significant, providing insights into global energy strategies and regional disparities in renewable adoption.
        </p>
    </div>
</div>
