<app-header></app-header>
<div class="summary-container">
    <h1 class="summary-title">Summary</h1>

    <div class="summary-card">
        <div class="chart-wrapper">
            <canvas #summaryCanvas></canvas>
        </div>
        <p class="summary-text">
            According to <a class="dashboard-link" href="https://www2.deloitte.com/us/en/insights/industry/renewable-energy/renewable-energy-industry-outlook.html">
                Renewable Energy Industry Outlook
            </a>, 
            the bar chart visualizes the projected growth of renewable energy technologies in 2024. By comparing sectors like solar, wind, battery storage, green hydrogen, and carbon capture, the chart highlights which technologies are expected to dominate. With each bar representing a different technology, the chart provides an easily understandable comparison of growth potential, showing where investments and innovations are concentrated within the energy sector.
            A higher bar indicates more significant anticipated investment and innovation, guiding stakeholders on where to focus resources for maximum impact in achieving net-zero targets.
        </p>
    </div>
</div>
